<form id="createTest" name="createTestForm" class="jumbotron">
	<h3>Create a Test</h3>
	<p>A test must have at least 10 questions.</p>
    <div class="group">
      <input class="form-control" name="name" type="text" placeholder="Name of test" ng-model="test.name" ng-class="{'has-error': createTestForm.name.$invalid}" ng-minlength="5" required>
    </div>
    <div class="group">
      <input class="form-control" name="length" type="text" placeholder="Minutes allowed" ng-model="test.time" ng-class="{'has-error': createTestForm.length.$invalid}" ng-minlength="2" required>
    </div>
		<button class="btn btn-success" ng-click="next()" ng-class="{ 'btnDisabled': createTestForm.$invalid && !createTestForm.$pristine }" ng-disabled="createTestForm.$invalid">Next</button>
</form>