<form id="editTest" name="testForm" class="container form-inline">
	<div class="topDiv">
		<div class="nameDiv">
			<label for="name">Test Name: </label>
			<input id="name" class="testName form-control" type="text" name="name" ng-model="test.name" ng-class="{'has-error': testForm.name.$invalid}" ng-minlength="5" required />
		</div>
		<div class="doneDiv">
			<button class="btn btn-success" ng-click="addQuest()" ng-class="{ 'btnDisabled' : testForm.$invalid }" ng-disabled="testForm.$invalid"><i class="glyphicon glyphicon-plus"></i>  Add Questions</button>
			<button class="btn btn-success" ng-click="done()"><i class="glyphicon glyphicon-ok"></i>  Done</button>
		</div>
	</div>
	<div class="editTest">
		<div class="leftDiv">
			<div>Length: <input class="minutes form-control" name="minutes" type="text" ng-model="test.minutes_allowed" ng-class="{'has-error': testForm.minutes.$invalid}" ng-minlength="2" required /></div>
			<div>First taken: {{curTest.first_taken}}</div>
			<div>Last taken: {{curTest.last_taken}}</div>
		</div>
		<div class="rightDiv">
			<table>
				<tr>
					<th class="name quest">Question</th>
					<th class="edit">Edit</th>
					<th class="del">Delete</th>
				</tr>
				<tr ng-repeat="quest in questions">
					<td>{{quest.question}}</td>
					<td><span class="glyphicon glyphicon-edit" ng-click="edit($index)" green-hover></span></td>
					<td><span class="glyphicon glyphicon-trash" ng-click="delete($index)" green-hover></span></td>
				</tr>
			</table>
		</div>
	</div>
</form>

<!--<div id='main'>
	<article>article</article>
	<nav>nav</nav>
	<aside>aside</aside>
</div>
<footer>footer</footer>-->